

h1 {
    color:white;
    font-family: "Arial", sans-serif;;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    }

h2 {
    color:rgb(0,204,204);
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 80%;
}
    
div {
    font-family: "Helvetica", sans-serif;
    line-height: 2em;
    color: white;
    
}

nav {
    font-size: 20px;
    padding: 5px;
    padding-bottom: 50px;
    
}

img {
    width: 1000px;
    padding-top: 20px;
}

footer {
    font-size: 20px;
    padding-top: 50px;
}

li {
  
    
    list-style: none;
}

a {
  font-family: "Arial", sans-serif;
    color: rgb(0,204,204);
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
   
}

button {
    color: rgb(0,204,204);
    background-color: rgb(50,50,50);
    padding:5px;
    font-size:20px;
    padding: 10px;
    border: 1px solid rgb(0,204,204);
    border-radius: 5px;
    margin:5px;
}

button:hover {
    color: white;
    background-color: rgb(0,204,204);
    outline:none;
}

button:focus {
   
    outline:none;
}


.Logout, .Login {
    position: absolute;
    left: 90%;
    top: 15px;

}

.gast_Login {
    position: absolute;
    left: 75%;
    top: 15px;

}

::-webkit-input-placeholder {
   color: black;
}

input[type="text"] {
    background-color: white;
    color: rgb(0,204,204);
    font-size:18px;
    padding:8px;
    padding-right: 200px;
    border: solid 3px rgb(0,204,204);
    border-radius: 12px;
}

a:hover {
    color: white;
}

input:focus {
    outline: none;
    background-color: rgb(50,50,50);
    color: rgb(0,204,204);
}

* {
   
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
  
    
}

body{
      background-color: rgb(50,50,50);
      padding-left: 100px;
}

p{
    padding-top:10px;
}


input[type="file"] {
     display: none;
}

label {
     color: rgb(0,204,204);
    background-color: rgb(50,50,50);
    padding:5px 5px 5px 5px;
    font-size:20px;
    border: 1px solid rgb(0,204,204);
    border-radius: 5px;
    margin:5px;
}

label:hover {
    color: white;
    background-color: rgb(0,204,204);
    outline:none;
}

.uploadControls {
    display: inline-block;
    color: white;
    background-color: rgb(0,204,204);
    outline:none;

}


textarea {
min-height: 120px;
min-width: 348px;
overflow-y: auto;
word-wrap:break-word;
resize: none;
background-color: white;
color: rgb(0,204,204);
font-size:18px;
padding:8px;
padding-right: 200px;
border: solid 3px rgb(0,204,204);
border-radius: 12px;
}

textarea:focus {
    outline: none;
    background-color: rgb(50,50,50);
    color: rgb(0,204,204);
}

