

h1 {
    color:white;
    font-family: "Helvetica", sans-serif;;
    font-size: 50px;
    }
    
div {
    font-family: "Helvetica", sans-serif;
    line-height: 2em;
    color: white;
    
}

nav {
    font-size: 20px;
    padding: 5px;
    padding-bottom: 50px;
    
}

img {
    width: 1000px;
    padding-top: 20px;
}

footer {
    font-size: 20px;
    padding-top: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    color: rgb(50,50,50);
    padding:5px;
    font-size:12px;
}

.Logout, .Login {
    position: absolute;
    left: 15px;
    top: 15px;

}

.guestLogin, .guestLogout {
    position: absolute;
    left: 15px;
    top: 50px;
}

input {
    color: rgb(50,50,50);
    font-size:12px;
    padding:5px;
    padding-right: 200px;
}

a:hover {
    color: greenyellow;
}

input:focus {
    outline: none;
    background-color: rgb(50,50,50);
    color: white;
}

* {
   
  
    font-weight: lighter;
}

body{
      background-color: rgb(50,50,50);
      padding-left: 100px;
}

p{
    padding-top:10px;
}
